@viewport {
  width: device-width ;
  zoom: 1.0 ;
}

@-ms-viewport {
  width: device-width ;
} 

html, body {
  position: absolute;
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  position: absolute;
  background-image: linear-gradient(#6086EF, #18297B);
  display: flex;
}

.action-button {
  width: 12rem;
  height: 3rem;
  border: none;
  border-radius: 0.188rem;
  background-color: #4366B2;
  color: #FFF;
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;

  &:disabled {
    background-color: #9FA7BE;
    cursor: default;
  }
}

.main-page {
  display: flex;
  box-sizing: border-box;
  padding: 1.563rem;
  margin: auto;
  width: 80%;
  height: 80%;
  border-radius: 0.313rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FFF;
}

@import "../components/components.less";
@import "yacht/yacht.less";
@import "resume/resume.less";
@import "mobile.less";