@viewport {
  width: device-width ;
  zoom: 1.0 ;
}

@-ms-viewport {
  width: device-width ;
} 

html, body {
  position: absolute;
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  position: absolute;
  background-image: linear-gradient(#6086EF, #18297B);
  display: flex;
}

.action-button {
  width: 12rem;
  height: 3rem;
  border: none;
  border-radius: 0.188rem;
  background-color: #4366B2;
  color: #FFF;
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;

  &:disabled {
    background-color: #9FA7BE;
    cursor: default;
  }
}

// Source: https://www.w3schools.com/css/css_tooltip.asp

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
  border-bottom: 1px dotted black;

  .tooltip-text {
    visibility: hidden;
    width: 100%;
    bottom: 100%;
    left: 50%;
    margin-left: -50%;
    background-color: #394158;
    color: #CCD4EB;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
   
    position: absolute;
    z-index: 1;
  }
  
  &:hover {
    .tooltip-text {
      visibility: visible;
    }
  }
}

@import "../components/components.less";
@import "main-page.less";
@import "yacht/yacht.less";
@import "resume/resume.less";
@import "mobile.less";