.resume-page {
    height: 98%;
    width: 98%;
    margin: auto;
    background-color: #FFF;
    border-radius: 1rem;

    .light {
        font-weight: lighter;
    }

    .icon {
        width: 1rem;
        height: 1rem;
        display: inline-block;
        border: none;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        margin-right: 0.5rem;
        // filter color: #4366B2;
        // converted using https://isotropic.co/tool/hex-color-to-css-filter/
        filter: invert(36%) sepia(9%) saturate(3332%) hue-rotate(183deg) brightness(104%) contrast(96%);

        &.location {
            background-image:url(./location.svg)
        }

        &.email {
            background-image:url(./email.svg)
        }

        &.phone {
            background-image:url(./phone.svg)
        }

        &.linkedin {
            background-image:url(./linkedin.svg)
        }

        &.github {
            background-image:url(./github.svg)
        }
    }

    .top-section {
        display: flex;
        align-items: center;
    }

    .section {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1rem;
        
        .section-label {
            display: flex;
            font-size: 1.4rem;
            flex-direction: column;
            align-items: center;
            margin-bottom: 0.25rem;

            .underline {
                display: block;
                width: 100px;
                height: 2px;
                background-color: #394158;
                margin: auto;
            }
        }

        .sub-info {
            font-size: 0.75rem;
            font-weight: 200;
        }
    }

    .namecard, .top-section {
        width: 100%;
        height: 3rem;
        border-bottom: 0.25rem solid #4366B2;
    }

    .resume-container {
        display: flex;
        flex-direction: row;
        width: 96%;
        height: 96%;
        margin: 2%;

        .left-column {
            width: 235px;
            flex-shrink: 0;
            border-right: 0.25rem solid #4366B2;

            .namecard {
                display: flex;
                background-color: #CCD4EB;
                border-top-left-radius: 1rem;
                justify-content: center;

                .name {
                    font-size: 2rem;
                    color: #394158;
                }
            }

            .section-container {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                height: 94%;

                .contact {
                    align-self: baseline;
                }
            }

            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
            }
        }

        .right-column {
            flex-grow: 2;

            .top-section {
                .work-title {
                    font-size: 1.8rem;
                    margin: auto;
                }
            }

            .work-section {
                height: 94%;
                padding-top: 0.5rem;

                .work-title-section {
                    display: flex;
                    flex-direction: column;
                    padding-left: 1.25rem;

                    .business-title {
                        font-size: 20px;
                    }

                    .employment-dates {
                        font-size: 14px;
                        font-weight: 200;
                    }
                }

                ul {
                    margin: 0;
                    font-size: 15px;
                }
            }
        }
    }
}